.pageContainer {
  background: url(/assets/bg_1.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.pageContainer .innerOverlay {
  background-color: rgba(27, 26, 42, 0.75);
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.navbar {
  padding: 16px;
  background-color: rgb(10 8 42 / 93%);
  backdrop-filter: blur(18px);
  box-shadow: 0px 0px 13px #663399;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.noFit {
  object-fit: none;
}

.marginXAuto {
  margin: 0px auto;
}
.marginYAuto {
  margin: auto 0px;
}
.marginAuto {
  margin: auto;
}

.heroBody {
  /* background-color: #fff; */
  width: 350px;
  height: 350px;
  margin: auto;
  background-image: url(/assets/kyqn-logo.png);
  background-position: center;
  padding: 8px;
  /* margin-top: 40px; */
  background-size: 200px;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.textCenter {
  text-align: center;
}

.textLight {
  color: #fff;
}

.mainBody {
  display: grid;
  grid-template-rows: 100vh 350px;
}
.aboutSection{
  padding: 18px;
  /* padding-bottom: 16px; */
  margin: auto;
}
.sectionHeader{
  text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 3px;
    word-spacing: 4px;
    margin: 12px 0px;
}
.sectionText{
  line-height: 2;
}
.textMedium{
  font-family: 'Instrument Sans', sans-serif;
  font-size: 14px !important;
}
.textSmall{
  font-family: 'Instrument Sans', sans-serif;
  font-size: 12px !important;
}
.dFlex{
  display: flex;
}
.dBlock{
  display: block;
}

/* REMEBER TO WORK ON THE CONTENT SPACING FOR THE INDEX PAGE */